//functions and mixins
@mixin title-text($size) {
    color: var(--heading-color);
    font-size: $size;
    font-weight: bold;
}
@mixin grap-text($size) {
    color: var(--font-color);
    font-size: $size;
}
@mixin grid($val) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    row-gap: 8rem;
    column-gap: 1.5rem;
}
@mixin flex($val) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;

    .box{
        flex: 1 1 $val;
    }
}
