@import "config";

#more-about-me {
  .about-me {
    display: flex;
    gap: 6em;
    margin-bottom: 6rem;

    & > .form {
      @include form;
      flex: 1;
      align-self: center;

      .heading {
        margin-bottom: 0;
      }
    }

    p.text {
      flex: 2;
      @include grap-text(1.7rem);
      line-height: 3rem;

      span {
        font-weight: bold;
        font-size: 2rem;
      }
    }
  }
}

@media (max-width: 768px) {
  #more-about-me {
    .about-me {
      & > form {
        width: 100%;
        max-width: 40rem;
      }
    }
  }
}
