.admin-sidebar {
  flex: 1;
  font-size: 1.5rem;
  color: gray;
  border-left: 1px solid lightgray;
  min-height: 100vh;
  overflow-y: auto;

  .ham-menu {
    position: fixed;
    z-index: 100000;
    top: 0.6rem;
    left: 2rem;
    font-size: 2.5rem;
    color: black;
    padding: 1rem;
    background-color: #e5e5e5;
    border-radius: 50%;
    cursor: pointer;
    display: none;
  }

  .top {
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 0.5px solid lightgray;
    .logo {
      font-size: 2rem;
      font-weight: bold;
      color: #7451f8;
    }
  }

  .center {
    ul {
      li {
        display: flex;
        align-items: center;
        padding: 0.5rem;
        padding-right: 1.5rem;
        cursor: pointer;

        &:hover {
          background-color: #ece8ff;
        }
        .admin-icon {
          color: #7451f8;
        }
        span {
          margin-right: 0.5rem;
        }
      }
      .title {
        margin: 1rem 1rem 0.2rem 1rem;
        font-size: 1.1rem;
      }
    }
  }

  .bottom {
    display: flex;
    padding: 1rem 1rem 0 0;
    gap: 1rem;
    .color-option {
      width: 3rem;
      height: 3rem;
      border-radius: 0.3rem;
      border: 1px solid #7451f8;
      cursor: pointer;
      &:nth-child(1) {
        background-color: whitesmoke;
      }
      &:nth-child(2) {
        background-color: #333;
      }
    }
  }
}

@media (max-width: 991px) {
  .admin-sidebar {
    position: fixed;
    z-index: 1;
    top: 0;
    right: -200%;
    bottom: 0;
    width: 20rem;
    overflow-y: auto;
    background-color: #fff;
    transition: all 0.2s linear;

    &.active {
      right: 0;
      box-shadow: 0 0 0 1000px rgba(54, 53, 53, 0.7);
    }
    .ham-menu {
      display: flex;
    }
  }
}
