.admin-list {
  font-family: "IRANSans", arial, helvetica, sans-serif;
  display: flex;
  min-height: 100vh;
  background-color: #fff;

  .admin-icon {
    cursor: pointer;
  }

  .list-container {
    flex: 6;
  }
}
