.admin-new {
  font-family: "IRANSans", arial, helvetica, sans-serif;
  display: flex;
  min-height: 100vh;

  .admin-icon {
    cursor: pointer;
  }

  .new-container {
    flex: 6;

    .top,
    .bottom {
      padding: 1rem;
      margin: 2rem;
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.5);
    }

    .top {
      .title {
        font-size: 2rem;
        color: gray;
      }
    }

    .bottom {
      display: flex;

      .left {
        flex: 1;
        text-align: center;

        .image {
          width: 10rem;
          height: 10rem;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .right {
        flex: 2;
        padding: 3rem;

        form {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          gap: 2rem;
          font-size: 1.5rem;

          .form-input {
            flex: 1 1 40%;

            label {
              display: flex;
              align-items: center;
              gap: 2rem;
              color: #555;
              .admin-icon {
                font-size: 2rem;
              }
            }

            input {
              font-family: "IRANSans", arial, helvetica, sans-serif;
              padding: 0.5rem;
              width: 100%;
              border-bottom: 1px solid lightgray;
              color: rgb(192, 191, 191);
              &::placeholder {
                color: rgb(192, 191, 191);
              }
            }
          }

          button {
            font-family: "IRANSans", arial, helvetica, sans-serif;

            width: 15rem;
            padding: 1rem;
            background-color: teal;
            color: #fff;
            font-weight: bold;
            cursor: pointer;
            margin-top: 1rem;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .admin-new {
    .bottom {
      flex-flow: column;
    }
  }
}
@media (max-width: 500px) {
  .admin-new {
    form {
      flex-flow: column;
    }
  }
}