.admin-navbar {
  height: 6rem;
  font-size: 1.8rem;
  color: #555;
  border-bottom: 1px solid lightgray;
  // position: fixed;
  // top: 0;
  // left: 0;
  // width: 100%;
  // background-color: #fff;
  

  .admin-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;

    .search {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      border: 1px solid lightgray;
      padding: 0.5rem;
      border-radius: 0.2rem;
      input {
        font-family: "IRANSans", Arial, Helvetica, sans-serif;
        background-color: transparent ;
      }
      .admin-icon {
        font-size: 2rem;
      }
    }

    .items {
      display: flex;
      align-items: center;
      gap: 2rem;

      .item {
        position: relative;
        display: flex;
        align-items: center;
        cursor: pointer;

        .avatar {
          width: 4rem;
          height: 4rem;
          border-radius: 50%;
          object-fit: cover;
        }

        .counter {
          position: absolute;
          top: -1rem;
          right: -1rem;
          width: 1.8rem;
          height: 1.8rem;
          background-color: red;
          border-radius: 50%;
          color: #fff;
          display: grid;
          place-content: center;
          font-size: 1.2rem;
        }

        .admin-icon {
          font-size: 2.2rem;
        }
      }
    }
  }
}