.admin-featured {
  flex: 2;
  padding: 1rem;
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: gray;

    .admin-icon {
      font-size: 1.5rem;
    }
  }

  .bottom {
    text-align: center;

    .featured-chart {
      width: 10rem;
      height: 10rem;
      margin-inline: auto;
    }

    .title{
        color: gray;
        font-weight: 500;
    }

    .amount{
        font-size: 3rem;
    }

    .desc{
        font-weight: 300;
        color: gray;
        font-size: 1.2rem;
    }

    .summary{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .item{
            &-title{
                color: gray;
                font-size: 1.3rem;
            }
            &-result{
                color: gray;
                font-size: 1.3rem;
                display: flex;
                align-items: center;
                margin-top: 1rem;

                .admin-icon{
                    margin-left: 0.5rem;
                }

                &.positive{
                    color: green;
                }
                &.negative{
                    color: red;
                }
            }
        }
    }

    & > * {
      margin: 1.5rem 0;
    }
  }
}
