.admin-chart{
    flex: 4;
    color: gray;
    padding: 1rem;
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.5);

    .title{
        margin-bottom: 2rem;
        font-size: 1.5rem;
    }

    .chart-grid{
        stroke: rgba(211, 211, 211, 0.578);
    }
}