@import "config";

@mixin boxx {
  display: flex;
  overflow: hidden;
  border-radius: 0.9rem;
  background-color: var(--bg-card-color);
  transition: transform 0.2s ease;
  box-shadow: var(--box-shadow);

  .image {
    flex: 0.8;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    padding: 1rem;
    h3 {
      @include title-text(2.1rem);
    }
    p {
      @include grap-text(1.5rem);
    }
    &-btn {
      background-color: var(--main-color);
      color: #fff;
      font-size: 1.3rem;
      padding: 0.4rem 1rem;
      border-radius: 0.2rem;
      cursor: pointer;
    }
  }

  @media (max-width: 672px) {
    height: 18rem;
  }

  @media (max-width: 450px) {
    height: unset;
    flex-direction: column;
    .image {
      flex: 1;
      img {
        height: 14rem;
      }
    }
    .content {
      h3 {
        margin-bottom: 1rem;
      }
      p {
        line-height: 2rem;
        margin-bottom: 1rem;
      }
    }
  }
}

#courses-page {
  background-color: var(--bg-primary-color);
  .heading {
    text-align: center;
    padding-top: 2rem;
  }

  .courses-popular {
    width: 65%;
    margin-inline: auto;

    & > .boxx {
      @include boxx;
      box-shadow: inset 0 0 0 3px var(--main-color);
    }
  }

  .courses-container {
    @include grid(35rem, 3rem);
    margin-top: 10rem;

    & > .boxx {
      @include boxx;
      &:hover {
        transform: translateY(-0.2rem);
      }
    }
  }
}

@media (max-width: 768px) {
  #courses-page {
    .courses-popular {
      width: 90%;
    }
  }
}
