@import "config";

.dark {
  --font-color: #bbbbbb;
  --heading-color: #e8e8e8;
  --bg-color: #212121;
  --bg-secondary-color: #191919;
  --bg-primary-color: #2e2e2e;
  --bg-card-color: #424242;
  --border: 0.1rem solid rgba(255, 255, 255, 0.2);
}

%d-flex {
  display: flex;
  align-items: center;
}
%center {
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  font-size: 2rem;
  border-radius: 50%;
}

.footer.dark {
  font-family: "IRANSans", Arial, Helvetica, sans-serif;
  background-color: var(--bg-color);
  padding: 3rem;
  .footer-header {
    @extend %d-flex;
    justify-content: space-between;

    & > img {
      width: 19rem;
    }

    .networks {
      i {
        @extend %center;
        margin-inline: 0.5rem;
        background-color: var(--heading-color);
        color: var(--bg-card-color);
      }
    }
  }

  .footer-content {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 3rem;

    .box {
      h3 {
        @include title-text(2rem);
        margin: 1.5rem 0;
        text-decoration: underline;
        text-underline-offset: 1rem;
      }

      p {
        @include grap-text(1.4rem);
        padding: 0.5rem 0;
      }

      a {
        @include grap-text(1.4rem);
        display: block;
        padding: 0.5rem 0;

        &:hover {
          text-decoration: underline;
        }
      }

      .info {
        @extend %d-flex;
        gap: 1rem;

        i {
          @extend %center;
          margin: 0.5rem 0;
          color: var(--font-color);
          background-color: var(--bg-primary-color);
        }
      }

      &.about {
        flex: 2 1 30rem;
      }
      &.contact {
        flex: 1 1 25rem;
      }
      &.links {
        flex: 1 1 25rem;
      }
    }
  }

  .credit {
    @include title-text(1.2rem);
    text-align: center;
  }
}
