@import "config";
@import url('https://fonts.googleapis.com/css2?family=Allan&display=swap');

:root {
  --font-color: #555;
  --heading-color: #333;
  --bg-color: #f9f9f9;
  --bg-secondary-color: #fff;
  --bg-primary-color: #e5e5e5;
  --bg-card-color: #fff;
  --border: 0.1rem solid rgba(0, 0, 0, 0.2);
  --menu-border: 0.1rem solid rgba(61, 61, 61, 0.09);
  --main-color: #FE0000;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  --max-width: 120rem;
}
[data-theme="dark"] {
  --font-color: #bbbbbb;
  --heading-color: #e8e8e8;
  --bg-color: #212121;
  --bg-secondary-color: #191919;
  --bg-primary-color: #2e2e2e;
  --bg-card-color: #424242;
  --border: 0.1rem solid rgba(255, 255, 255, 0.2);
  --menu-border: 0.1rem solid rgba(205, 205, 205, 0.05);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  scroll-behavior: smooth;
  list-style: none;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  background: var(--bg-color);
}
section {
  padding: 2rem;
  padding-top: 11rem;
}
i {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: unset;
}

//utilities
.wrapper {
  max-width: var(--max-width);
  margin-inline: auto;
}
.heading {
  margin-bottom: 5rem;

  h2 {
    @include title-text(3rem);
    padding-bottom: 1rem;
    text-decoration: underline var(--main-color) 4px;
  }
  p {
    @include grap-text(1.5rem);
    text-decoration: underline var(--main-color) 1px;
  }
}
.btn {
  font-family: "IRANSans", Arial, Helvetica, sans-serif;
  display: inline-block;
  margin-top: 1rem;
  padding: 0.8rem 3rem;
  border-radius: 5rem;
  background: var(--main-color);
  font-size: 1.7rem;
  color: #fff;
  cursor: pointer;
  box-shadow: var(--box-shadow);
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.09);
  }
}
.breadcrumbs{
  @include breadcrumbs;
}

//Scrollbar
::-webkit-scrollbar {
  width: 1rem;
}
::-webkit-scrollbar-thumb {
  background: var(--font-color);
  border-radius: 1rem;
}

//media queries
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 768px) {
  section {
    padding-top: 13rem;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
