@import "config";

:root {
  --font-color: #555;
  --heading-color: #333;
  --bg-color: #F9F9F9;
  --bg-secondary-color: #FFF;
  --bg-primary-color: #E5E5E5;
  --bg-card-color: #FFF;

  --main-color: #CD201F;

  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  --max-width: 120rem;
  --border: 0.1rem solid rgba(0, 0, 0, 0.2);
  
}
[data-theme="dark"] {
  --font-color: #BBBBBB;
  --heading-color: #E8E8E8;
  --bg-color: #212121;
  --bg-secondary-color: #191919;
  --bg-primary-color: #2E2E2E;
  --bg-card-color: #424242;
  --border: 0.1rem solid rgba(255, 255, 255, 0.2);
}
[main-color="main-color"] {
  --main-color: #FF5700;
}

* {
  font-family: "Shabnam", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  scroll-behavior: smooth;
  list-style: none;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  background: var(--bg-color);
}
section {
  padding: 2rem;
  padding-top: 10rem;
}
i {
  cursor: pointer;
}
a{
  text-decoration: none;
  color: unset;
}

//utilities
.wrapper{
  max-width: var(--max-width);
  margin-inline: auto;
}
.heading {
  margin-bottom: 5rem;

  h2{
    @include title-text(3rem);
    padding-bottom: 1rem;
    text-decoration: underline var(--main-color) 4px;
  }
  p{
    @include grap-text(1.5rem);
    text-decoration: underline var(--main-color) 1px;

  }
}
.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.8rem 3rem;
  border-radius: 5rem;
  background: var(--main-color);
  font-size: 1.7rem;
  color: #fff;
  cursor: pointer;
  box-shadow: var(--box-shadow);
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.09);
  }
}

//Scrollbar
::-webkit-scrollbar {
  width: 1rem;
} 
::-webkit-scrollbar-thumb {
  background: var(--font-color); 
  border-radius: 1rem;
}

//media queries
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}

