@import "config";

%d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.light {
  --font-color: #555;
  --heading-color: #333;
  --bg-color: #f9f9f9;
  --bg-secondary-color: #fff;
  --bg-primary-color: #e5e5e5;
  --bg-card-color: #fff;
  --border: 0.1rem solid rgba(0, 0, 0, 0.2);
}

#login-page {
  font-family: "IRANSans", Arial, Helvetica, sans-serif;
  background-color: #FFF;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  .login-header {
    @extend %d-flex;

    img {
      margin: 2rem;
      height: 15rem;
    }
  }

  .login-wrapper {
    @extend %d-flex;

    h1 {
      @include title-text(2.5rem);
      text-align: center;
      margin-bottom: 3rem;
    }

    .form {
      @include form;
      border: 1px solid rgb(219, 219, 219);
      padding: 5rem;
      padding-top: 3rem;
      box-shadow: none;
      width: 48rem;

      .links {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 2rem 0;
        @include grap-text(1.1rem);

        label {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          font-size: 1.5rem;
        }

        .forget-password {
          color: var(--main-color);
          font-size: 1.5rem;
        }
      }

      input.input-password {
        padding-left: 4rem;
      }

      .create-account {
        display: block;
        text-align: center;
        padding-bottom: 3rem;
        font-size: 1.5rem;
        color: var(--main-color);
        border-bottom: var(--border);
      }

      .google-btn {
        font-family: "IRANSans", Arial, Helvetica, sans-serif;
        @extend %d-flex;
        gap: 1rem;
        background-color: transparent;
        color: var(--heading-color);
        width: 100%;
        padding: 1.1rem;
        border-radius: 2.5rem;
        border: var(--border);
        font-size: 1.7rem;
        margin-top: 3rem;
        cursor: pointer;
        transition: transform 0.2s ease;

        &:hover {
          transform: scale(1.09);
        }
      }
    }
  }

  footer.login-footer {
    background-color: #FFF;
    text-align: center;
    width: 80%;
    @include grap-text(1.3rem);
    margin-inline: auto;
    padding: 5rem;
    line-height: 1.6;
    margin-top: auto;
    margin-bottom: 3rem;
  }
}

@media (max-width: 768px) {
  #login-page .login-wrapper .form {
    border: none;
    width: 100%;
  }
}
