@import "config";

#login-page-new {
  font-family: "IRANSans", Arial, Helvetica, sans-serif;
  display: grid;
  place-items: center;
  min-height: 100vh;

  .login-container {
    -webkit-box-shadow: -10px 0px 13px -7px #00000002,
      10px 0px 13px -7px #00000002, 2px 13px 45px 2px rgba(0, 0, 0, 0.05);
    box-shadow: -10px 0px 13px -7px #00000002, 10px 0px 13px -7px #00000002,
      2px 13px 45px 2px rgba(0, 0, 0, 0.05);
    position: relative;
    padding: 2rem;
    min-width: 40rem;
    text-align: center;

    .logo {
      width: 20rem;
      height: 20rem;
      margin-bottom: 1rem;
    }

    h2 {
      @include title-text(1.7rem);
      margin-bottom: 4rem;
    }

    .form-step1 {
      .form-group {
        border: var(--border);
        padding: 0 1rem;
        font-size: 1.5rem;
        border-radius: 0.5rem;
        height: 4rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;

        input[type="tel"] {
          font-family: "IRANSans", Arial, Helvetica, sans-serif;
          direction: ltr;
          background-color: transparent;
          width: 100%;
          padding: 0 1rem;
        }
        i {
          color: gray;
          border-right: var(--border);
          height: 100%;
          display: flex;
          align-items: center;
          padding-right: 1rem;
        }
      }
    }

    .form-step2 {
      input[type="number"] {
        font-family: "IRANSans", Arial, Helvetica, sans-serif;
        border: var(--border);
        background-color: transparent;
        height: 5rem;
        border-radius: 0.5rem;
        margin-inline: 0.5rem;
        text-align: center;
        font-size: 2rem;
      }
    }

    input[type="submit"],
    button[type="submit"] {
      font-family: "IRANSans", Arial, Helvetica, sans-serif;
      width: 100%;
      margin: 3rem 0;
      background-color: transparent;
      padding: 1rem;
      border-radius: 0.5rem;
      font-size: 1.8rem;
      cursor: pointer;
      background-color: var(--main-color);
      color: #fff;
    }
    input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }

    p {
      @include title-text(1.5rem);
      margin-bottom: 2rem;

      &.error {
        margin-top: 2rem;
        margin-bottom: 0;
        @include title-text(1rem);
        color: red;
        text-align: right;
      }
    }

    a {
      font-size: 1.3rem;
      strong {
        color: var(--main-color);
        cursor: pointer;
      }
    }

    i.fa-long-arrow-alt-right {
      position: absolute;
      top: 5rem;
      right: 2rem;
      font-size: 2.5rem;
    }
  }

  .login-page-new-footer {
    margin-top: auto;
    margin-bottom: 3rem;
    .icon{
      width: 4rem;
      font-size: 3rem;
      color: var(--font-color);
    }
    p{
      @include grap-text(1.2rem);
      margin-top: 2erm;
    }
  }
}
