.header {
  font-family: "IRANSans", Arial, Helvetica, sans-serif;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  padding: 1rem 9%;
  transition: all 0.4s cubic-bezier(0.4, 0, 1, 1);

  &.active {
    background-color: var(--bg-secondary-color);
    box-shadow: var(--box-shadow);
    .header-wrapper {
      a#register {
        color: var(--heading-color);
      }

      i.theme,
      i.menu-bar {
        color: var(--heading-color);
      }
      .navbar {
        ul {
          li > * {
            color: var(--heading-color);
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
  }

  .header-wrapper {
    display: flex;
    align-items: center;
    gap: 2rem;
    max-width: 1300px;
    margin: 0 auto;

    a#register {
      color: #fff;
      font-size: 1.7rem;
      display: flex;
      align-items: center;
      gap: 0.7rem;

      i {
        font-size: 1.5rem;
      }

      &:hover {
        text-decoration: none;
      }
    }

    .logo {
      margin-right: auto;
      img {
        width: 6.5rem;
        height: 6.5rem;
        object-fit: cover;
      }
    }

    .navbar {
      ul {
        display: flex;

        &:first-child {
          span{
            display: none;
          }
        }

         li > * {
          font-size: 1.6rem;
          color: #fff;
          margin-left: 2rem;
          transition: all 0.5s ease;

          &:hover {
            text-decoration: 0.2rem underline;
            text-underline-offset: 0.8rem;
          }
        }
      }
    }

    .menu-bar {
      display: none;
    }

    i.menu-bar {
      font-size: 2rem;
      font-weight: bold;
      border-radius: 0.5rem;
      color: #fff;
    }
  }
}

@media (max-width: 768px) {
  .header {
    padding: 3rem 5%;

    .header-wrapper {
      gap: 2rem;
      height: 100%;

      .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .navbar {
        position: absolute;
        top: 99%;
        right: 0;
        left: 0;
        height: 100vh;
        backdrop-filter: blur(4px);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: all 0.2s ease;

        &.active {
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }

        ul {
          display: block;
          background-color: var(--bg-secondary-color);
          box-shadow: var(--box-shadow);
          overflow-y: auto;

          &:first-child {
            border-top: 2px solid var(--bg-secondary-color);
            span{
              display: inline-block;
              margin-right: 0.5rem;
              margin-top: -5px;
            }
          }

          li > * {
            display: block;
            color: var(--heading-color);
            padding: 2rem 3.5rem 2rem;
            width: 100%;
            font-weight: bold;
            font-size: 2rem;
            &:hover {
              text-decoration: none;
              background-color: var(--bg-primary-color);
            }
          }
        }
      }

      .menu-bar {
        display: block;
        margin-left: auto;
        font-size: 3rem;
      }
    }
  }
}
