@import "config";

@mixin menu-popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding-right: 0.5rem;
  transition: all 0.2s ease-in-out;
  transform-origin: right top;
  transform: scale(0, 0);
  opacity: 0;
  &.active {
    transform: scale(1, 1);
    opacity: 1;
  }

  ul {
    margin-top: 3rem;
    width: 22rem;
    background-color: var(--bg-secondary-color);
    box-shadow: var(--box-shadow);
    border-radius: 1rem;
    overflow: hidden;
    li {
      @include grap-text(1.8rem);
      display: flex;
      align-items: center;
      gap: 1.5rem;
      cursor: pointer;
      border-bottom: var(--menu-border);
      padding: 1.3rem 1.3rem;

      &:last-child{
        border-bottom: none;
      }

      &:hover {
        color: var(--heading-color);
      }
    }
  }
}

.header {
  font-family: "IRANSans", Arial, Helvetica, sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding: 0 4%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;

  &.active {
    .logo h1 {
      color: var(--heading-color);
    }

    .navbar ul {
      li,
      li a {
        color: var(--heading-color);
      }
    }

    .icons > * {
      // border: 1px solid var(--heading-color);
      color: var(--heading-color);
    }
  }

  .logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
    font-family: Allan;
    h1 span {
      display: block;
      text-align: left;
      line-height: 3rem;
    }

    img {
      width: 12rem;
      height: 12rem;
      object-fit: contain;
    }
  }

  .navbar {
    ul {
      display: flex;
      align-items: center;
      gap: 2.5rem;
      font-size: 1.6rem;

      li {
        &:hover {
          text-decoration: 0.2rem underline;
          text-underline-offset: 0.8rem;
        }
        i {
          display: none;
        }
      }
    }
  }

  .icons {
    display: flex;
    align-items: center;
    gap: 2rem;

    & > * {
      font-size: 2.5rem;
      color: #fff;
    }

    a.fa-shopping-cart {
      position: relative;
      span {
        position: absolute;
        top: -1rem;
        right: -1rem;
        width: 2rem;
        height: 2rem;
        line-height: 2rem;
        text-align: center;
        font-size: 1.5rem;
        border-radius: 50%;
        background-color: var(--main-color);
        font-family: "IRANSans";
        color: #fff;
      }
    }

    .fa-bars {
      display: none;
    }
  }

  .theme-box {
    @include menu-popup;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 0 4%;
    .navbar {
      @include menu-popup;
      ul {
        display: block;
        li {
          &:hover {
            text-decoration: none;
          }
          i {
            display: inline-block;
            margin-left: 1.5rem;
          }
        }
      }
    }

    .icons {
      .fa-bars {
        display: block;
      }
    }
  }
}
